/**
 * @name Demon Summoning Program
 * @author Ishiba Housei
 * @description A strange program sent to you by a mysterious man in a red suit.
 * @version 0.01 
 */

/* Import fonts */


@font-face {
    font-family:'Megaten 20XX';
    src:url("https://raw.githubusercontent.com/ganon4688/COMP-Theme/main/Megaten%2020XX.ttf");
    font-weight:500;
}

@font-face {
    font-family:'Nintendo DS BIOS';
    src:url("https://raw.githubusercontent.com/ganon4688/COMP-Theme/main/Nintendo-DS-BIOS.ttf");
    font-weight:500;

}

@font-face {
    font-family:'Yu Mincho Regular';
    src:url("https://raw.githubusercontent.com/ganon4688/COMP-Theme/main/yumin.ttf");
    font-weight:500;
}

:root {
  --theme: var(--smt-primary);

  /* New Main Color */
  --smt-primary: #cc0001;
  --hp-green: #00ddb2;
  --mp-pink: #ff66ed;
  --p5-blue: #ffffff;
  --smt-red: #ff051e;
}




/* DM Date Divider */
.divider-IqmEqJ .content-3spvdd {
  font-family: 'Nintendo DS BIOS';
  font-size: 1.25em;
  color: #000;
  background: #fff;
  letter-spacing: 3px;
  border-radius: 2px;
  border: 2px solid #000;
  padding: 5px;
  transform: 
}

/* Channel font */
.containerDefault-YUSmu3 {
  font-family: 'Nintendo DS BIOS', sans-serif;
  font-size: 1.25em;
}

/* Changes Title Text */
.titleBar-1it3bQ::before {
    content:var(--glizzy, "DDS-NET");
	font-family: "Helvetica";
    color:#ff051e;
    background:#000000;
    position:absolute;
    top:-4px;
    left:0;
    height:18px;
    padding:4px;
    line-height:23px;
    font-size:14px;
    letter-spacing:0;
    z-index:1
}

/* Disables ugly ahh baked in Discord title */
.wordmark-2u86JB{display:none}

/* Icon */
.guilds-2JjMmN
  .tutorialContainer-1pL9QS
  .wrapper-3kah-n
  .childWrapper-1j_1ub
  svg {
  display: none;
}


.guilds-2JjMmN .tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub {
  background: #000 url(https://raw.githubusercontent.com/ganon4688/COMP-Theme/main/loki%20white.png) no-repeat center /
  100%;
}
    
	
/* Chat Message Avatars */
.message-2CShn3 .avatar-2e8lTP .wrapper-3Un6-K {
  border-radius: 0;
  background-color: #000;

  border: 2px solid #fff;
  /*transform: rotate(-4deg) skew(3deg); */
  overflow: visible;
}


.message-2CShn3:nth-child(even) .avatar-2e8lTP {
  transform: rotate(-2deg) skew(3deg);
}

/* Code font and colors, also chat box text color */
.markup-eYLPri span {
  color: #ffffff;
  font-family: "MEGATEN 20XX", sans-serif;
  font-size: 0.95em;
}

.placeholder-1_mJY1 {
  font-family: "Nintendo DS BIOS", sans-serif;
  color: #ffffff;
  font-size: 0.3em;
}

/* User Text Box Color */
  --channeltextarea-background: #fff;
  
  /* Message Date/Time */
  --text-link: var(--theme);
  --text-muted: #fff;
  /* --text-muted: #cc0001; */
  
 
 /* Backgrounds */
  --background-primary: #101010; /* Background color between text */
  --background-secondary: var(--primary-alt); 
  --background-secondary-alt: var(--primary-alt);
  --background-accent: var(--theme); 
  --background-tertiary: var(--theme); /* Outermost border */
  
  
  /* Scrollbar */
  --scrollbar-thin-thumb: var(#ffffff);
  --scrollbar-auto-thumb: var(#ffffff);
  --scrollbar-auto-track: #222;
  
  /* Username Font, in Text Messages */ 
.username-h_Y3Us {
  font-family: "Yu Mincho Regular", sans-serif; 
  font-style: italic;
  font-smooth: never;
}

.username-3_PJ5r{
	font-family: "Yu Mincho Regular", sans-serif; 
  font-style: italic;
  font-smooth: never;
}

.overflow-1wOqNV {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
	font-family: "Nintendo DS Bios", sans-serif; 
	font-style:bold;
  font-smooth: never;
  font-size: 24px;
}
.container-2sjPya{
	--background-primary #FFFFFF
	
}

/* Mid-chat Usernames */
.username-h_Y3Us{
    font-size: 1rem;
	font-family:"MEGATEN 20XX";
    font-weight: 500;
    line-height: 1.375rem;
    color: var(--header-primary);
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
}


/* Messages */

	/* Hover-over gradient */
.message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion .message-2CShn3:hover {
    background-color: var(--background-message-hover);
}
	/* Texxt message wrapper */
.cozy-VmLDNB .header-2jRmjb {
	background-color: #101012;
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
    color: var(--text-muted);
    white-space: break-spaces;
    word-wrap: pre-wrap;
}

.message-2CShn3 {
    padding-right: 48px!important;
	background-color: #101012;
}

	/* Text messages and their wrapper */
.message-2CShn3 .markup-eYLPri {
  font-family: "MEGATEN 20XX", sans-serif;
  background-color: #101012;
  font-size: 0.85em;
}
	/* Text chat */
.scrollerContent-2SW0kQ {
	background-color: #101012;
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%;
}

	/* Text box container 1 */
.content-1jQy2l:before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    z-index: 1;
    pointer-events: none;
	
}

.scrollableContainer-15eg7h{
	border: 1px solid;
    border-image-slice: 1; /* Slice will unround it and make it square/rectangular */
}



/* Sidebar (Friendslist/DMs) */

	/* Friends Icon */

[href="/channels/@me"] .linkButtonIcon-7rsZcu{
    width: 24px;
    height: 24px;
    background: url("https://raw.githubusercontent.com/ganon4688/COMP-Theme/main/press%20turn%20icon.png");
    fill:transparent;
    background-size:cover;
}
[href="/channels/@me"] .linkButtonIcon-7rsZcu path{
    display: none
}

	/* Nitro Icon */
	
	
	
	/* Family Center Icon */
	




